*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content { 
  display: flex;
  align-items: end;
  width: 1140px;
  gap: 30px;
}

.result__video-container {
  position: relative;
  min-height: fit-content;
  width: 711px;
}

.result__video {
  height: 386px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 12px;
}

.search-form__fieldset {
  border: none;
  width: fit-content;
}

.search-form__fieldset-title {
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
}

.search-form__label:hover {
  cursor: pointer;            
} 

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
  width: 225px;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding: 1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.search-form__checkbox-list {
  cursor: pointer;
  display: flex;
  column-gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

.search-form__pseudo-checkbox::before {
  content: ""; 
  width: 15px;
  height: 15px;
  background-color: #FFF;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  opacity: 1;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  opacity: 1;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: transparent;
  border: 1px solid #fff;
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  border: solid 1px #fff;
  outline: solid 1px #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 22px;
}

.title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-top: 2px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
  padding: 2px 4px 2px 4px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFF;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card:active {
  background: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 100%;
  object-fit: cover;
}

.more-button {
  width: 100%;
  height: 34px;
}